<h1>Productos</h1>
<div>
  {{#each products}}
    <div style="border:1px solid #ccc; padding:10px; margin:10px;">
      <h2>{{this.title}}</h2>
      <p>Precio: ${{this.price}}</p>
      <p>Categoría: {{this.category}}</p>
      <a href="/products/{{this._id}}">Ver detalles</a>
      <form action="/api/carts/placeholderCartId/products/{{this._id}}" method="POST">
        <button type="submit">Agregar al carrito</button>
      </form>
    </div>
  {{/each}}
</div>

<div>
  {{#if hasPrevPage}}
    <a href="?page={{prevPage}}">Anterior</a>
  {{/if}}
  Página {{page}} de {{totalPages}}
  {{#if hasNextPage}}
    <a href="?page={{nextPage}}">Siguiente</a>
  {{/if}}
</div>